<%= image_tag "217x217/main_hands/#{@awakened_weapon.path}.png", size: "150x150" %>
<h1><%= "#{@awakened_weapon.player.name}'s Awakened #{@awakened_weapon.main_hand.name}" %></h1>
<ul>
  <% if @awakened_weapon.trait0 %>
    <li><%= @awakened_weapon.trait0.trait %></li>
  <% end %>
  <% if @awakened_weapon.trait1 %>
    <li><%= @awakened_weapon.trait1.trait %></li>
  <% end %>
  <% if @awakened_weapon.trait2 %>
    <li><%= @awakened_weapon.trait2.trait %></li>
  <% end %>
</ul>
<p>PvP fame: <%= ActiveSupport::NumberHelper.number_to_human @awakened_weapon.pvp_fame %><br>
  Attunement: <%= ActiveSupport::NumberHelper.number_to_human @awakened_weapon.attunement_since_reset %><br>
  Attunement total: <%= ActiveSupport::NumberHelper.number_to_human @awakened_weapon.attunement %><br>
  Attuned player: <%= link_to @awakened_weapon.player.name, player_path(@awakened_weapon.player.name) %><br>
  <% crafter = @awakened_weapon.crafted_player_name %>
  Crafted by: <%= (c = Player.find_by(name: crafter)) ? (link_to crafter, player_path(crafter), target: "_top") : (crafter) %><br>
  Last equipped at: <%= @awakened_weapon.last_equipped_at %></p>
