<%= stylesheet_link_tag "style.css" %>

<h1>Builds</h1>

<ul>
  <%= form_with url: builds_path, method: :get, local: true, data: { turbo_frame: 'table' } do %>
    <%= label_tag :order_by, 'Order by: ' %>
    <%= select_tag :order_by, options_for_select([
      ["Usages", :usage_count],
      ["Winrate", :kd_perc],
      ["Fame ratio", :fame_ratio],
      ["Kills", :kill_count],
      ["Deaths", :death_count],
      ["Assists", :assist_count],
      ["Kill fame", :kill_fame],
      ["Death fame", :death_fame],
      ["Avg Ip", :avg_ip],
      ["Avg Ip difference", :avg_ip_diff]
    ]), onchange: "this.form.requestSubmit()" %>
  <% end %>
  <%= turbo_frame_tag 'table' do %>
    <table style="text-align: left">
      <tr>
        <th>Build</th>
        <th>Usages</th>
        <th>Winrate</th>
        <th>Fame ratio</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
        <th>Kill fame</th>
        <th>Death fame</th>
        <th>Average Ip</th>
        <th>Average Ip difference</th>
      </tr>
      <% @builds.each do |build| %>
        <tr>
          <td><a href="<%= build_path(build.id) %>" target="_top" class="kill_build_link">
            <% [:main_hand, :off_hand, :head, :chest, :feet, :cape].each do |type| %>
              <% if build.send("#{type}_type_path").nil? %>
                <%= image_tag('empty.svg', size: '50x50')%>
                <% next %>
              <% end %>
              <% icon_path = "100x100/#{type.to_s.pluralize}/T8_#{build.send("#{type}_type_path")}@0_Q4.png" %>
              <%= Rails.application.assets.find_asset(icon_path).nil? ? image_tag('pending-work-icon.svg', size: '50x50') : image_tag(icon_path, size: "50x50") %>
            <% end %>
          </a></td>
          <td>
            <%= build.usage_count %>
          </td>
          <td>
            <%= build.kd_perc.nil? ? '-' : "#{build.kd_perc / 100}%" %>
          </td>
          <td>
            <%= build.fame_ratio.nil? ? '-' : build.fame_ratio.to_f / 100 %>
          </td>
          <td>
            <%= build.kill_count %>
          </td>
          <td>
            <%= build.death_count %>
          </td>
          <td>
            <%= build.assist_count %>
          </td>
          <td>
            <%= ActiveSupport::NumberHelper.number_to_human build.kill_fame %>
          </td>
          <td>
            <%= ActiveSupport::NumberHelper.number_to_human build.death_fame %>
          </td>
          <td>
            <%= build.avg_ip %>
          </td>
          <td>
            <%= build.avg_ip_diff %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Show more", builds_path(@params.tap { |p| p[:list] += 20 }) %>
  <% end %>
</ul>
