<%= turbo_frame_tag 'table' do %>
  <% is_player_view = params.key?(:player) %>
  <% is_build_view = params.key?(:build) %>
  <table style="text-align: left">
    <tr>
      <th><%= is_player_view ? params[:player].name : 'Killer' %></th>
      <th><%= is_player_view ? 'Enemy' : 'Victim' %></th>
      <th>Kill fame</th>
      <th>Assists</th>
      <th>Allies</th>
      <th>Passive Allies</th>
      <th>Timestamp</th>
      <th>Event ID</th>
    </tr>
    <% kill_events.each do |kill_event| %>
      <% kill = kill_event.kill %>
      <% death = kill_event.death %>

      <% killer_box = capture do %>
        <%= is_player_view && kill.player.id == params[:player].id ? kill.player.name : (link_to kill.player.name, player_path(kill.player.name), target: '_top') %><br>
        <% [:main_hand, :off_hand, :head, :chest, :feet, :cape].each do |type| %>
          <% if kill.send("#{type}_path").nil? %>
            <%= image_tag('empty.svg', size: '50x50')%>
            <% next %>
          <% end %>
          <% icon_path = "100x100/#{type.to_s.pluralize}/#{kill.send("#{type}_path")}.png" %>
          <%= Rails.application.assets.find_asset(icon_path).nil? ? image_tag('pending-work-icon.svg', size: '50x50') : image_tag(icon_path, size: "50x50") %>
        <% end %>
      <% end %>

      <% victim_box = capture do %>
        <%= is_player_view && death.player.id == params[:player].id ? death.player.name : (link_to death.player.name, player_path(death.player.name), target: '_top') %><br>
        <% [:main_hand, :off_hand, :head, :chest, :feet, :cape].each do |type| %>
          <% if death.send("#{type}_path").nil? %>
            <%= image_tag('empty.svg', size: '50x50')%>
            <% next %>
          <% end %>
          <% icon_path = "100x100/#{type.to_s.pluralize}/#{death.send("#{type}_path")}.png" %>
          <%= Rails.application.assets.find_asset(icon_path).nil? ? image_tag('pending-work-icon.svg', size: '50x50') : image_tag(icon_path, size: "50x50") %>
        <% end %>
      <% end %>

      <% participant_box1, participant_box2 = [killer_box, victim_box] %>
      <% participant_box1, participant_box2 = [victim_box, killer_box] if is_player_view && death.player.id == params[:player].id %>

      <tr class="<%= death.player.id == params[:player].id ? 'death_box' : 'kill_box' if is_player_view %>">
        <td><%= participant_box1 %></td>
        <td><%= participant_box2 %></td>
        <td>
          <%= ActiveSupport::NumberHelper.number_to_human kill_event.total_fame %>
        </td>
        <td>
          <%= kill_event.assist_count %>
        </td>
        <td>
          <%= kill_event.ally_count %>
        </td>
        <td>
          <%= kill_event.passive_assist_count %>
        </td>
        <td>
          <%= kill_event.timestamp %>
        </td>
        <td>
          <%= kill_event.kill_event_id %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Show more", is_player_view ?
    player_path(params.tap { |p| p[:list] += 20 }.merge(name: params[:player].name) )
    : is_build_view ?
      build_path(params.tap { |p| p[:list] += 20 }.merge(id: params[:build].id) )
    : kill_events_path(params.tap { |p| p[:list] += 20 })%>
<% end %>
