<%= stylesheet_link_tag "style.css" %>

<h1>Kills</h1>

<ul>
  <%= form_with url: kill_events_path, method: :get, local: true, data: { turbo_frame: 'table' } do %>
    <%= label_tag :order_by, 'Order by: ' %>
    <%= select_tag :order_by, options_for_select([
      ["Most recent", :timestamp],
      ["Kill fame", :total_fame]
    ]), onchange: "this.form.requestSubmit()" %>
  <% end %>
  <%= render partial: "table", locals: { kill_events: @kill_events, list: @list } %>
</ul>
