<%= turbo_frame_tag 'table' do %>
  <table style="text-align: left">
    <tr>
      <th>Player</th>
      <th>Guild</th>
      <th>Kill count</th>
      <th>Death count</th>
      <th>Assist count</th>
      <th>Kill fame</th>
      <th>Death fame</th>
    </tr>
    <% players.each do |player| %>
      <tr>
        <td>
          <%= link_to player.name, player_path(player.name), target: "_top" %>
        </td>
        <td>
          <% if player.guild.present? %>
            <% guild = player.guild %>
            <%= link_to guild.name, guild_path(guild.name), target: "_top" %>
          <% end %>
        </td>
        <td>
          <%= player.total_kill_count %>
        </td>
        <td>
          <%= player.total_death_count %>
        </td>
        <td>
          <%= player.total_assist_count %>
        </td>
        <td>
          <%= player.total_kill_fame %>
        </td>
        <td>
          <%= player.total_death_fame %>
        </td>
      </tr>
    <% end %>
  </table>
  <% pp params %>
  <% pp params.select { |k| %W[list order_by guild_id].include? k } %>
  <%= link_to "Show more", players_path(params.tap { |p| p[:list] += 20 }) %>
  <%#= link_to "Show more", players_path(params.tap { |p| p.permit('list', 'order_by', 'guild_id') && p[:list] += 20 }) %>
<% end %>
