<h1><%= @player.name %></h1>
<p>Registered since: <%= @player.created_at %><br>
  Last activity: <%= @player.updated_at %><br>
  Total kill fame: <%= @player.total_kill_fame %><br>
  Total death fame: <%= @player.total_death_fame %><br>
  Total kill count: <%= @player.total_kill_count %><br>
  Total death count: <%= @player.total_death_count %><br>
  Total assist count: <%= @player.total_assist_count %></p>

<%= render partial: "kill_events/table", locals: { kill_events: @kill_events, list: @list } %>
